body {
    background-image: url('https://static.mundoeducacao.uol.com.br/mundoeducacao/2023/05/blocos-de-madeira-com-os-simbolos-das-quatro-operacoes-matematicas-basicas-adicao-subtracao-multiplicacao-e-divisao.jpg'); /* Altere o URL para a imagem desejada */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.tabuada-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tabuada-item {
    flex: 0 0 18%; /* 20% de largura para cada item, resultando em 5 colunas, como temos os espaços do container diminui para 18% */ 
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: darkgoldenrod;
}
.form-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}